<!DOCTYPE html>
<html>

<head>
    <title>About Weather App</title>
    <link rel="shortcut icon" href="img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src="{{pic}}" alt="{{name}}" />
    </div>
    {{>footer}}
</body>

</html>